[Desktop Entry]
Type=Application
Name=AppAlchemist
Comment=Convert .deb and .rpm packages to AppImage format
Exec=appalchemist
Icon=appalchemist
Categories=Utility;Development;
Terminal=false
StartupNotify=true
MimeType=application/vnd.debian.binary-package;application/x-rpm;

