[Desktop Entry]
Type=Application
Name=Convert to AppImage
Name[ru]=Конвертировать в AppImage
Comment=Convert Debian package to AppImage and launch
Comment[ru]=Конвертировать пакет Debian в AppImage и запустить
Exec=appalchemist-wrapper --convert %f
Icon=appalchemist
NoDisplay=true
MimeType=application/vnd.debian.binary-package
Terminal=false
StartupNotify=true

