[Desktop Entry]
Type=Application
Name=Convert to AppImage
Name[ru]=Конвертировать в AppImage
Comment=Convert RPM package to AppImage and launch
Comment[ru]=Конвертировать пакет RPM в AppImage и запустить
Exec=appalchemist-wrapper --convert %f
Icon=appalchemist
NoDisplay=true
MimeType=application/x-rpm
Terminal=false
StartupNotify=true

